<mat-card class="profile-card">
  <img mat-card-image src='{{oneHero[2]}}' alt="Photo of the Hero">
  <div class="infocard">
    <mat-card-header>
      <div mat-card-avatar class="profile-header-image"></div>
      <mat-card-title>{{oneHero[1]}}</mat-card-title>
      <mat-card-subtitle>ID: {{oneHero[0]}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Biography</mat-card-title>
      <p>
        Alignment: {{oneHero[4]}}
      </p>
      <p>
        Aliases: {{oneHero[5]}}
      </p>
      <p>
        Publisher: {{oneHero[6]}}
      </p>
      <mat-card-title>Appearance</mat-card-title>
      <p>
        Gender: {{oneHero[7]}}
      </p>
      <p>
        Race: {{oneHero[8]}}
      </p>
      <p>
        Height: {{oneHero[9]}}
      </p>
      <p>
        Weight: {{oneHero[10]}}
      </p>
      <mat-card-title>Power Stats</mat-card-title>
      <p>
        Intelligence: {{oneHero[11]}}
      </p>
      <p>
        Strength: {{oneHero[12]}}
      </p>
      <p>
        Speed: {{oneHero[13]}}
      </p>
      <p>
        Durability: {{oneHero[14]}}
      </p>
      <p>
        Power: {{oneHero[15]}}
      </p>
      <p>
        Combat: {{oneHero[16]}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </div>
</mat-card>