.example-card {
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
}
.hero-logo {
  background-image: url('https://w7.pngwing.com/pngs/974/885/png-transparent-black-bird-illustration-captain-america-s-h-i-e-l-d-logo-marvel-cinematic-universe-superheroes-marvel-avengers-assemble-heroes-shield.png');
  background-size: cover;
}
.villains-logo{
  background-image: url('https://www.pngfind.com/pngs/m/14-148777_hydra-marvel-cinematic-universe-villains-wiki-fandom-hydra.png');
  background-size: cover;
}
.cards-container{
  margin: auto;
  display: flex;
  width: 30%
}
.mat-card-image{
  min-height: 130px;
  max-height: 130px;
}
.heroes-container{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.row{
  display: flex;
  vertical-align: auto;
  .mat-card-title{
    margin-left: 5px;
  }
}