<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menu</p>
    <mat-list>
      <a mat-list-item href="#" routerLink="/theBestHero">The Best Hero</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#" routerLink="/allHeroes">Heroes</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#" routerLink="/alignments">Alignments</a>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-toolbar>
    <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>The Best Heroes</span>
    <span class="spacer">
      <a mat-list-item routerLink="/theBestHero">The Best Hero</a>
      <a mat-list-item routerLink="/allHeroes">Heroes</a>
      <a mat-list-item routerLink="/alignments">Alignments</a>
    </span>
    <span class="example-spacer"></span>
    <a mat-list-item href="#" class="login">Login</a>
    <button mat-raised-button color="accent">Sign Up</button>
  </mat-toolbar>
  <ng-content></ng-content>
</mat-drawer-container>